**/.DS_Store

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Unit test / coverage reports
htmlcov/

.coverage
.coverage.*
.cache
*.cover
*.py,cover
.pytest_cache/
cover/

.idea/
